.github-box-wrap * {
	box-sizing: content-box;
}

article > time,
li > time {
	font-family: 'Source Code Pro', '';
}

.fa:before {
	padding-right: 3px;
}

ul.list-unstyled a.fa-angle-double-right:before {
	padding-right: 25px;
	padding-left: 25px;
}
