<!-- included from 'footer.html' -->
<footer class="footer">
  <div class="contact">
      <ul>
          <li>{{ site.name }}</li>
          <li>{{ site.tagline }}</li>
          <li><a href="mailto:martin@marcher.name">martin@marcher.name</a></li>
          <li><a href="https://github.com/serverhorror">github.com/serverhorror</a></li>
          <li><a href="https://twitter.com/serverhorror">twitter.com/serverhorror</a></li>
	  <li><time datetime="{{ site.time | date_to_xmlschema }}">Last Generated: {{ site.time | date_to_xmlschema }}</time></li>
      </ul>
  </div>
<!-- vim: set ts=4 sts=4 fenc=utf-8 expandtab: -->
</footer>
