<!-- included from 'footer.html' -->
<footer>
    <nav class="navbar navbar-default navbar-static-bottom">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
              <li><a href="mailto:martin@marcher.name">martin@marcher.name</a></li>
              <li><a href="https://github.com/serverhorror">github.com/serverhorror</a></li>
              <li><a href="https://twitter.com/serverhorror">twitter.com/serverhorror</a></li>
              <li><a href="//plus.google.com/106689595059572911333?rel=author">Google+</a></li>
          </ul>
      </div>
    </nav>
<!-- vim: set ts=2 sts=2 fenc=utf-8 expandtab: -->
</footer>
