<!-- included from 'header.html' -->
<header class="container-fluid">
  <section class="page-header">
    <h1><a href="{{ site.baseurl }}" class="navbar-brand">{{ site.name }}</a> <small>{{ site.tagline }}</small></h1>
  </section>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="/">home</a></li>
      <li><a href="/blog/">blog</a></li>
      <li><a href="/about/">about</a></li>
    </ul>
  </nav>
</header>
<!-- vim: set ts=2 sts=2 fenc=utf-8 expandtab: -->
