@charset "UTF-8";

.taglist {
    list-style-type: none;
}

.taglist li {
    display: inline-block;
    padding: 3px;
    border: solid black 1px;

}

/*
 * vim: set ts=4 sts=4 fenc=utf-8 expandtab :
 */
