<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li>Last Modified: <time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></li>
        </ul>
        <div>
            {{ content }}
        </div>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li>Last Modified: <time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></li>
        </ul>
    </body>
</html>
