<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title | downcase }}</title>
        <link href="{{ site.url }}/assets/css/syntax.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li>Last Modified: <time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></li>
        </ul>
        <div>
            {{ content | downcase }}
        </div>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li>Last Modified: <time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></li>
        </ul>
    </body>
</html>
