<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link
        href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer|Stint+Ultra+Expanded'
        rel='stylesheet' type='text/css'>


        <style type="text/css">
            h1, h2, h3, h4, h5, h6, h7, h8 {
                font-family: 'IM Fell Great Primer', serif;
            }
            p {
                font-family: 'Stint Ultra Expanded', cursive;
            }
        </style>
    </head>
    <body>
        <div>
            {{ content }}
        </div>
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li>
            <time datetimte="{{ site.time }}">{{ site.time }}</time>
            </li>
        </ul>
    </body>
</html>
