---
layout: default
---

<script type="text/javascript">
    window.location.replace("{{ site.url}}{{ page.url }}");
</script>
<article>
    <header class="post-header">
    <h1>{{ page.title }}</h1>
    <ul>
        {% if site.author != null %}<li>{{ site.author }}</li>{% endif %}
        <li>Published: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%F %H:%M:%S" }}</time></li>
    </ul>
    </header>
    <section class="post-content">
    {{ content }}
    </section>
    <footer class="post-footer">
        {% if page.tags != null %}
        <section class="taglist">
            <h1>Tags</h1>
            <ul>
                {% for tag in page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        <h1>So Called "Social" Stuff</h1>
        <ul>
            <li>
            <!-- Place this tag where you want the +1 button to render.
            -->
            <div class="g-plusone" data-size="small" data-annotation="none" data-href="{{ page.url }}"></div>
            </li>
            <li><a class="FlattrButton" href="{{ site.url}}{{ page.url }}" title="{{ page.title }}" lang="{% if page.lang != null %}{{ page.lang }}{% else %}en{% endif %}" rel="flattr;tags:blog;"></a></li>
        </ul>
    </footer>

</article>

